/* Configuração corpo da página*/
html, body {
    margin:0;
}

/*Configuração do MENU*/
header {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 10; /*elemento mais externo a ser exibido*/
    background-color:rgb(44, 176, 224);
}
header #logo {
    float: left;
    height: 2.8rem;
    width: 8rem;
    position: absolute; 
    margin-top: .8rem;
    margin-left: 1.5%;
    max-height: 100%;
}
header #menu {
    float: right;
    margin-top: .3%; 
    list-style: none;/*retira as bolinhas do menu*/    
}
header li  {
    margin-right: .8rem;
    padding: 1.2rem 0.5rem;
    font-size: .85rem;
    justify-items: center;
    cursor: pointer;
}
header #listamenu {
    font-family: 'Roboto', sans-serif;
    float: left; /*posicionar os itens do menu lateralmente*/
    text-decoration: none;
    color:white;
}

header li:hover  {/*Estilização da lista do menu*/
    margin-top: 0;
    padding: 1.2rem 1rem;
    transition: initial .4s linear;
    background-color:rgb(84, 186, 220);
}

/*Configuração da MENU LATERAL RESPONSIVO*/
label {
    visibility: hidden;
}
#check {
    display: none;
}
#menuhamburguer{
    visibility: hidden;
}

/*Configuração da CAPA*/
#website-cover {
    background: url("img/070-074_mineracao-digital_289-0-1140.jpg");
    background-size: cover;
    height: 100%;
    text-align: center;
}
h1 {
    padding-top: 12%;
    margin-block-end: 0;
    margin-top: 0;

    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    line-height: 2.8rem;

    color: whitesmoke;
    text-shadow: 1.5px 1px black;
    text-align: center;
    
}
h2, .Drummond, #ods-in-mining {
    color: whitesmoke;
    text-shadow: 1px 1px black;
}
h2 {
    margin-left: 15%;
    margin-right: 15%;
    margin-block-end: 0;

    font-family: 'Merriweather', serif;
    font-size: 1.4rem;
    line-height: 1.55rem;
}
.Drummond{
    font-family: 'Merriweather', serif;
    margin-top:.3rem;
    margin-left: 25%;
    margin-right: 18%;
    text-align: right;
}
#ods-in-mining {
    font-family: 'Roboto', sans-serif;
    border: 1px whitesmoke solid;
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.3rem;
}

/*Configurações que se repetem nas seções do site*/
h3 { /*Titulo*/ 
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 1.35rem;
    text-align: center;
} 
hr { /*Sublinhado das seções*/
    width: 30px;
}
h4 { /*Titulo*/ 
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    line-height: 1.2rem;
    text-align: center;
   
}
h5 { /*Titulo*/ 
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: center;
}
figure { /*imagens*/
    margin:0;
}
.img-mining { /*imagens*/
    width: 100%;    
    margin: 1rem auto;
    padding:0.5rem;
}
figcaption { /*fonte das imagens*/
    text-align: left;
}
#font{ /*fonte das imagens*/
    color: black;
    text-decoration: none;
    font-size: 0.8rem;
    line-height: 12px;
}
section { /*seções*/
    margin: 0 auto;
    overflow: hidden;
    padding: 30px 0 20px 0;
    border:0;
}
.colunm-two, .colunm-four, .colunm-five { /*configuração das colunas*/
    float: left;
    padding: 0 5%;
    position: relative;
}
.colunm-two { /*configuração das colunas que são duplas*/
    width: 40%;
}
.colunm-four { /*configuração das colunas que são quadruplas*/
    width: 15%;
}
.colunm-five {
    width: 9.5%;
}
.justify { /*configuração das colunas*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: .9rem;
    text-align: justify;
}
.center { /*configuração das colunas*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: .9rem;
    text-align: center;
}
.explanatory-link { /*configuração dos links no texto*/
    text-decoration: none;
    color: olive;
}
iframe { /* configuração dos vídeos*/
    border: 0 10rem;
    margin-top: 12px;
    width: 100%;
    height: 40%;
    padding:auto;
}

/*Configuração das seções*/
#the-project, #recycling, #how-do, #benefits, #understand-more, #points {
    padding: 10px;
    background-color: white;
    text-align: center; 
    border-bottom:0;
}
#the-mining-and-the-society, #projections-and-extrapolations,#about-me {
    padding: 10px;
    background-color: rgba(250, 250, 250, 0.55);
    text-align: center; 
    border-bottom:0;
}


/*Configuração das bordas das seções*/
.burlywood {
  border-left: 2.9vw burlywood solid; 
  border-right: 2.9vw burlywood solid;   
}
.yellow {
    border-left: 2.9vw rgb(255, 255, 134) solid;  
    border-right: 2.9vw rgb(255, 255, 134) solid;
}
.orange{
   border-left: 2.9vw #FFE082 solid;  
   border-right: 2.9vw #FFE082 solid; 
}
.light-blue{
    border-left: 2.9vw cadetblue solid;
    border-right: 2.9vw cadetblue solid;
}

/*Configuração dos icones da seção: RECICLAGEM DE ELETRÔNICOS*/
.icon {
    border-radius: 50%;
    height: 85px;
    width: 85px;
    margin: 0 auto;
}
.colunm-four:hover > .icon {
    background:#FFE082;
  }
.center-text-recycle{
    margin:8px;
}

/* Configuração da seção: PROJEÇÕES E EXTRAPOLAÇÕES*/  
/*tabela*/
  #table {
    margin: auto;
    border:.1rem black solid; 
  }
  td {
      border: .1rem black solid;
      text-align: center;
  }
/*Gráfico*/
.graphic {
    width: 15rem;
    height: 15rem;
    margin: 1.5rem auto;
    padding:0.5rem;
}
.pieBackground {
    background-color: orange;
    position: absolute;
    text-align:center;
    width: 15rem;
    height: 15rem;
    -moz-border-radius: 7.5rem;
    -webkit-border-radius: 7.5rem;
    -o-border-radius: 7.5rem;
    border-radius: 7.5rem;
    -moz-box-shadow: -1px 1px 3px #000;
    -webkit-box-shadow: -1px 1px 3px #000;
    -o-box-shadow: -1px 1px 3px #000;
    box-shadow: -1px 1px 3px #000;
}
.pie {
    position: absolute;
    text-align:center;
    width: 15rem;
    height: 15rem;
    -moz-border-radius: 7.5rem;
    -webkit-border-radius: 7.5rem;
    -o-border-radius: 7.5rem;
    border-radius: 7.5rem;
    clip: rect(0px, 7.5rem, 15rem, 0px);
}
.hold {
    position: absolute;
    width: 15rem;
    height: 15rem;
    -moz-border-radius: 7.5rem;
    -webkit-border-radius: 7.5rem;
    -o-border-radius: 7.5rem;
    border-radius: 7.5rem;
    clip: rect(0px, 15rem, 15rem, 7.5rem);
}
#pieSlice2 {
    -webkit-transform:rotate(228deg);
    -moz-transform:rotate(228deg);
    -o-transform:rotate(228deg);
    transform:rotate(228deg);
}
#pieSlice2 .pie {
    background-color: rgb(44, 176, 224);
    -webkit-transform:rotate(130deg);
    -moz-transform:rotate(130deg);
    -o-transform:rotate(130deg);
    transform:rotate(130deg);
}
#pieSlice3 {
    -webkit-transform:rotate(357deg);
    -moz-transform:rotate(357deg);
    -o-transform:rotate(357deg);
    transform:rotate(357deg);
}
#pieSlice3 .pie {
    background-color:  yellow;
    -webkit-transform:rotate(10deg);
    -moz-transform:rotate(10deg);
    -o-transform:rotate(10deg);
    transform:rotate(10deg);
}
/*legenda do gráfico*/
ul {
    list-style-type: none;
    margin:0;
}
.aluminio::before {
    content: "•"; 
    color: orange;
}
.cobre::before {
    content: "•"; 
    color: rgb(44, 176, 224);
}
.outros::before {
    content: "•"; 
    color:yellow;
}

/* Configuração da seção: ENTENDA MAIS*/
.text {
    float: left;
    padding: 0 5%;
    position: relative;  
}
#points .logomarca {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    padding: .6rem;
    margin: 0 auto;
}
 .logomarca:hover {
    background-color: rgba(222,184,135,0.7);
    transition: initial .4s linear;
  }

/*Configuração da foto da seção: SOBRE MIM */
.img-about-me {
    width: 100%;
    margin: 2rem auto;
}

/* Configuração do RODA PÉ*/
footer {
    width: 100%;
    background-color:#636e72;
    float: left;
    color: whitesmoke;
}
footer a{
    text-decoration: none;
    color: whitesmoke;
}
footer p {
    margin: 0;
}
footer h4 {
    color:whitesmoke;
    text-align:left;
}
.icons-footer {
    padding: 0.5rem 1rem 0.5rem 0rem;
    width: 25px;
    height: 20px;
    margin: 0;
}
.email, .linkedin, .github {
    display: flex;
    align-items: center;
    margin:.3rem;
}
.data {
    text-align:right;
    font-size: .8rem;
} 

/* Configuração  da responsividade do site: TABLET*/
@media all and (max-width:800px) {
    #menu {
        visibility: hidden; /*esconde o menu do cabeçalho desktop*/
    }
    /*mostra o menu hamburger no cabeçalho*/
    label {
        visibility: visible;
        position: absolute;
        text-align: left;
        cursor: pointer;
        margin: 2%;
        z-index: 11;
        transition: all .2s linear;
    }
    .hamburguer {
        position:fixed;
        display:block;
        background:white;
        width: 25px;
        height: 2px;
        top: 1.9rem;
        left: 1rem;
        transition: .5s ease-int-out;
    }
    
    .hamburguer:before, .hamburguer:after {
        background: white;
        position:absolute;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        transition: .5s ease-int-out;
    }
    .hamburguer:before {
        top:-10px;
    }
    .hamburguer:after {
        bottom:-10px;
    }
    #menuhamburguer {
        visibility: visible;
        box-sizing: border-box;
        margin: 3.75rem 0rem;
        height: 45vh;
        width: 50vw;
        left: -50vw;
        background-color: rgb(44, 176, 224);
        position: fixed;
        transition: all .3s linear;
        z-index:11;
    }
    #menuhamburguer a {
        display: block;
        text-decoration: none;
        padding: 7% 5%;
        font-family: 'Roboto', sans-serif;
        font-size: 12pt;
        color: white;
        background-color: rgb(44, 176, 224);
        border-bottom: 0.1rem rgb(60, 149, 179) solid;
        opacity: 0;
        transition: all .4s linear;
    }
    #check:checked ~ #menuhamburguer {
        transform: translateX(50vw);
    }
    #check:checked ~ #menuhamburguer a {
        opacity: 1;
        margin-top: 0;
    }
    #menuhamburguer a:hover {
        background-color: rgb(84, 186, 220);
        padding: 7% 5% 7% 10%;
    }
    input:checked ~ label .hamburguer { /*Estilização do x das barras do menu hamburguer*/
        transform: rotate(45deg);
    }
        
    input:checked ~ label .hamburguer:before {
        transform: rotate(90deg);
        top:0;
    }
    input:checked ~ label .hamburguer:after {
        transform: rotate(90deg);
        bottom:0;
    }
    .colunm-two, .colunm-four {/*organização das colunas*/
        display: block;
        width: 80%;
        padding: 0;
        margin: 13px auto;
        float: none;
    }
    header #logo {
        margin-left:0;
        transform: translatex(-50%) /*movimentando no eixo x para centralizar a logo*/
    }
    #logodiv {
        width: 100%;
        position:relative;
        text-align:center;
    }
    iframe {
        border: 10rem;
        margin-top: 12px;
        width: 100%;
        height: 60%;
        padding:auto;
    }
    fieldset {
        width: 75%;
        margin: auto;
    }
    .img-about-me {
        width: 85%;
        margin: 2rem auto;
    }
}

/* Configuração  da responsividade do site: CELULAR*/
@media all and (max-width:450px) {
    label{
        margin: 3%;
    }
    h1 {
        font-size: 2.5rem;
        padding-top: 20%;
    }
    h2 {
        font-size:1.2rem;
    }
    #ods-in-mining {
        font-size: 1rem;
    }
    .colunm-five {
        display: block;
        width: 80%;
        padding: 0;
        margin: auto;
        float: none;
        text-align: center;
    }
    h3  {
        line-height: 1.65rem;  
    }
    iframe {
        border: 10rem;
        margin-top: 12px;
        width: 115%;
        height: 45%;
        padding: auto;
        transform: translateX(-5%)
    }
    fieldset {
        width: 100%;
        margin: auto;
        transform:translateX(-4%)  
    }

    .graphic, .pieBackground, #pieSlice2,#pieSlice3 {
        transform:translateX(-1%)
    }
    #legend {
        padding:0;
        
    }
} 

