/* Configuração página*/
body { 
    margin:0;
    padding:0;
    box-sizing: border-box;    
}

:root {
    font-size: 60%;
}


/* Configuração da "capa" */ 
 .logo-project {
    position: absolute;
    width: 1225px;
    height: 515.96px;
    left: 107px;
    top: 83px;
    padding: 10px;
    margin:10px;
    border:10px;
}

.logo-project h1 {
    position:absolute;
    left: 380px;
    top: 145px;
    font-family: Prociono;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 45px;
    align-items: center;
    text-align: center; 
}

.logo-project h2{
    position: absolute;
    left: 347px;
    top: 249px;

    font-family: Prociono;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 20px;
    display:flex;
    align-items: center;
    text-align: center;
}

.logo-project img {
    position: absolute;
    left: 518px;
    top: -37px;
    width: 543px;
    height: 340.55px;
}


.logo-project p {
    position: absolute;
    top: 319px;
    font-family: Prociono;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: justify;
}

/*Configuração da Mineração no Brasil*/ 
.mining-story {
    position: absolute;
    width: 1231px;
    height: 700px;
    left: 107px;
    top: 558px;
    padding: 10px;
    margin:10px;
    border:10px;
}
    
.mining-story h1 { 
    position: absolute;
    width: 624px;
    height: 49px;
    left: 328px;
    top: 20px;
    
    font-family: Prociono;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: px;

    display: flex;
    align-items: center;
    text-align: center;
}

.mining-story p {
    position: absolute;
    width: 580px;
    height: 390px;
    padding: 10px;
    margin:10px;
    left: 639px;
    top: 88px;
    
    font-family: Prociono;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: justify;
}

.mining-story img {
    position: absolute;
    width: 595.81px;
    height: 400px;
    left: 10px;
    top: 138px;
}



